@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body {
  font-family: 'Lato', sans-serif;
  color: #4B4340;
  background-color: #F4F2F5;
  text-align: center;
}

.icon-tile {
  display: inline-block;
}

.icon {
  height: 150px;
}
